@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.MuiDrawer-paper{
    display: none;
}

.sideBtns:hover{
    background-color: #00CE87;
}

.sideBtns{
    padding: 10px;
}